<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.requestBegin>
        <processor patch:instead="*[@type='Sitecore.Mvc.Pipelines.Request.RequestBegin.EnsureLoggedInForPreview, Sitecore.Mvc']"
                   type="Sitecore.Support.Mvc.Pipelines.Request.RequestBegin.EnsureLoggedInForPreview, Sitecore.Support.101417"/>
      </mvc.requestBegin>

      <mvc.renderPageExtenders>
        <processor patch:instead="*[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.RenderPageExtenders.SpeakRibbon.RenderPageEditorSpeakExtender, Sitecore.Mvc.ExperienceEditor']"
                   type="Sitecore.Support.Mvc.ExperienceEditor.Pipelines.RenderPageExtenders.SpeakRibbon.RenderPageEditorSpeakExtender, Sitecore.Support.101417" />
      </mvc.renderPageExtenders>

      <getChromeData>
        <processor patch:instead="*[@type='Sitecore.XA.Feature.StickyNotes.Pipelines.GetChromeData.AddStickyNotesButton, Sitecore.XA.Feature.StickyNotes']"
                   type="Sitecore.Support.XA.Feature.StickyNotes.Pipelines.GetChromeData.AddStickyNotesButton, Sitecore.Support.101417"/>
      </getChromeData>
    </pipelines>
  </sitecore>
</configuration>